.input-ingredient {
  @include basic-input();
}

.span-ingredient-count {
  font-size: 1.2rem;
  font-weight: 700;
}

.button-ingredient-delete {
  @include basic-button();
}

.span-hamburger {
  margin-left: 8px;
  margin-bottom: 5px;
  position: relative;  
  background: #000;  
  display: inline-block;
  width: 26px;
  height: 4px;
  border-radius: 4px;

  ::before {
  position: absolute;
  background: #000;  
  top: -10px;
  width: 26px;
  height: 4px;
  border-radius: 4px;
  content: '';

  }

  ::after {
  background: #000;  
  position: absolute;
  top: 10px;
  width: 26px;
  height: 4px;
  border-radius: 4px;
  content: '';
  }
}
