.label-recipe {
  @include common-label();
}

.input-recipe {
  color: #000;
  display: block;
  min-width: 100px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  background-color: #e4e7eb;
  height: 24px;
  margin: 0.5rem;
  padding: 0.75rem;
}

.select-recipe {
  color: #000;
  min-width: 100px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  background-color: #e4e7eb;
  height: 48px;
  margin: 0.5rem;
  padding: 0.75rem;
}

.span-recipe-count {
  font-size: 1.2rem;
  font-weight: 700;
}
