.label-recipe {
  @include common-label();
}

.input-recipe {
  @include basic-input();

  display: block;
}

.select-recipe {
  @include basic-input();

  height: 48px;
}

.span-recipe-count {
  font-size: 1.2rem;
  font-weight: 700;
}
