.div-not-found-modal {
  text-align: center;

  img {
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
  }
}

.img-not-found-image {
  margin: 0.125rem;
  padding: 0.5rem;
}

.p-not-found-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
