
@font-face { 
    font-family: 'yg-jalnan'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

.customFont {
    font-family: yg-jalnan sans-serif;
}

.nyancat {
    background-image: url('assets/images/NyanCat.gif');
    width: 400px;
    height: 400px;
}
